.HeaderBackground {
  height: 200px;
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  margin-left: 90px;
}
.heading {
  color: white;
}
.date-time {
  display: flex;
  align-items: center;
}
.date img {
  height: 80px;
}
p.calendar {
  color: white;
  margin-left: 20px;
}
