/* main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
} */
.MuiContainer-root.MuiContainer-maxWidthXs.css-nzinn5-MuiContainer-root {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  max-width: 675px;
}
.leftside {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 70px;
}
.logo {
  width: 257px;
  height: 61px;
  flex-shrink: 0;
}
.MuiTypography-root.MuiTypography-h4.MuiTypography-alignCenter.MuiTypography-gutterBottom.css-1trk376-MuiTypography-root {
  text-align: left;
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  width: 579px;
}
.MuiTypography-root.MuiTypography-p.MuiTypography-alignCenter.MuiTypography-gutterBottom.css-1lprljk-MuiTypography-root {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  width: 579px;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  width: 615px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #ececec;
  margin-top: 5px;
  margin-bottom: 5px;
}
.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
  width: 100%;
  height: 24px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-fullWidth.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
  width: 194px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #010c3a;
  margin-top: 5px;
}
.rightside img {
  height: 700px;
  width: 618px;
}
