svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
  width: 20px;
  height: 33px;
}
.heading-1 {
  color: black;
  text-align: center;
  padding-bottom: 20px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 11.5px 14px;
}
.MuiContainer-root.MuiContainer-maxWidthSm.css-cuefkz-MuiContainer-root {
  margin-top: 40px;
}
.accordion-header button {
  margin: 0 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 3.5px 14px !important;
}
